{% extends 'base.html' %}
{% load static %}

{% block title %}
Апартаменты vs квартиры
{% endblock title %}
{% block content %}
        <section id="showcase-inner" class="py-5 text-white">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-12">
              <h1 class="display-4">Чем отличаются апартаменты от квартиры</h1>
              <p class="lead">Разбираемся в чем отличие апартаментов </p>
            </div>
          </div>
        </div>
      </section>

      <!-- Breadcrumb -->
      <section id="bc" class="mt-3">
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'index' %}">
                  <i class="fas fa-home"></i> Главная</a>
              </li>
              <li class="breadcrumb-item">
                <a href="#">
                  <i class="fas fa-home"></i> Квартиры</a>
              </li>
                <li class="breadcrumb-item active"> Апартаменты </li>
            </ol>
          </nav>
        </div>
      </section>

      <section id="about" class="py-4">
        <div class="container">
          <div class="row">
            <div class="col">
              <h2> В чем разница между квартирой и аппартаментами</h2>
              <p class="lead">Около четверти предложения в новостройках приходится на апартаменты. Однако их правовой статус до сих пор не уточнен: они используются как жилье, но юридически жильем не являются. Отсюда возникает разница в налогах и коммунальных платежах по сравнению с квартирами.</p>



        <div class="row justify-content-between">
            <div class="col-md-5 overflow-hidden">
                <div class="my-3 py-3">
                    <h2 class="display-5"> Про цену</h2>
                    <p class="lead">Апартаменты в большинстве случаев дешевле аналогичных по качественным характеристикам
                        квартир за счет нежилого статуса. Их стоимость на рынке новостроек может быть ниже квартир на 10–30%.

                        Коммунальные тарифы для апартаментов зависят от типа здания и аппетита коммунальщиков. Суммы в платежках за апартаменты обычно на 15-30% больше, чем за квартиры.


</p>
                </div>


            </div>
            <div class="col offset me-md-3 pt-3 text-center overflow-hidden">
                <div class="col d-none d-lg-block">

                    <img class="card-img-center" src="{% static 'img/house.jpg' %}" alt="">

                </div>

            </div>
        </div>
<h2> Какой итог?</h2>
              <p class="lead mt-4"> Апартаменты сегодня – вид коммерческой недвижимости, предназначенной для временного проживания владельца или третьих лиц. Их чаще всего покупают для дальнейшей сдачи в аренду. Цена на них ниже, а арендная ставка почти всегда сопоставима со стоимостью найма квартир. Это позволяет инвестору быстрее «отбить» бюджет покупки.
Владельцы апартаментов не платят взносы в фонд капитального ремонта. Но если общее имущество будут ремонтировать, их попросят заплатить.
При покупке как квартиры, так и апартаментов под аренду нужно учитывать несколько факторов: удобство расположения (рядом с метро или комфортный выезд в центр и обратно), наличие инфраструктуры возле дома, качество ремонта, планировку и площадь квартиры. При этом юридический статус объекта недвижимости отходит на второй план.
</p>
            </div>
          </div>
        </div>
      </section>



{% endblock content %}