{% extends 'base.html' %}
{% load static %}

{% block title %}
Документы
{% endblock title %}
{% block content %}

  <section id="showcase-inner" class="py-5 text-white">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-12">
              <h1 class="display-4">Как оформить документы</h1>
              <p class="lead">Какие документы оформляются при съёме квартиры</p>
            </div>
          </div>
        </div>
      </section>

      <!-- Breadcrumb -->
      <section id="bc" class="mt-3">
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'index' %}">
                  <i class="fas fa-home"></i> Главная</a>
              </li>
              <li class="breadcrumb-item">
                <a href="#">
                  <i class="fas fa-home"></i> Полезные ссылки</a>
              </li>
                <li class="breadcrumb-item active"> Как оформить документы</li>
            </ol>
          </nav>
        </div>
      </section>

<section id="about" class="py-4">
        <div class="container">

<div class="col-md-10">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        Договор аренды квартиры
      </h3>

      <article class="blog-post">
        <p class="blog-post-meta">Редакция от 1 января 2021 года</p>
          <p class="blog-post-meta"><a href="#">*ссылка для скачивания документа*</a></p>
        <p>TДоговор аренды квартиры — документ подтверждающий предоставление собственником квартиры (арендодателем) другой
            стороне (арендатору) жилого помещения за определенную плату во владение и пользование с ограниченным сроком по
            времени и другими условиями. Нотариальное заверение договора аренды не требуется и обязательной нотариальной формы
            такого договора законодательством не предусмотрено, однако по желанию — стороны вправе предусмотреть его нотариальное
            удостоверение.</p>

      </article>

        </div>

<div class="col-md-10">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        Опись имущества
      </h3>

      <article class="blog-post">
        <p class="blog-post-meta">Редакция от 1 января 2021 года</p>
          <p class="blog-post-meta"><a href="#">*ссылка для скачивания документа*</a></p>
        <p>Опись имущества - документ, который является приложением к договору найма. В нем перечисляется все имущество,
            передающееся жильцу во временное пользование вместе с квартирой. Кроме описи, этот документ содержит два акта
            сдачи-приемки жилого помещения.</p>

      </article>

        </div>

            <div class="col-md-10">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        Расписка о получении арендной платы
      </h3>

      <article class="blog-post">
        <p class="blog-post-meta">Редакция от 1 января 2021 года</p>
          <p class="blog-post-meta"><a href="#">*ссылка для скачивания документа*</a></p>
        <p>асписка о получении денег в качестве оплаты за наем (аренду) жилого помещения служит гарантом того, что
            арендодатель получил установленную сумму от арендатора ГК РФ от 26.01.1996 N 14-ФЗ. На сегодняшний момент не
            существует установленной формы оформления расписки, но при её составлении обязательно указываются паспортные
            данные арендатора и арендодателя. Это делается для того чтобы в судебном порядке, было проще удостоверить
            личность всех подписавшихся. Расписка должна быть написана от руки, либо в распечатанном виде по образцу
            заполнения, главное, чтобы от руки были проставлены подписи и личные данные арендатора и арендодателя.</p>

        <p>Полученную расписку не обязательно заверять у нотариуса, но если одна из сторон настаивает на этой процедуре, то это правомерно.
Экземпляр расписки выдается каждой из сторон.
Обязательно должна быть указана сумма полученных средств (в числовом варианте и прописью).
Должен быть указан срок, за который происходит оплата аренды и указана дата подписания документа.</p>

      </article>

        </div>


            <div class="col-md-10">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        Расписка о страховом депозите
      </h3>

      <article class="blog-post">
        <p class="blog-post-meta">Редакция от 1 января 2021 года</p>
          <p class="blog-post-meta"><a href="#">*ссылка для скачивания документа*</a></p>
        <p>«Страховой депозит», в свою очередь, это не залог, направленный на обеспечение исполнения обязательства. Это способ гарантировать возмещение ущерба в случае его причинения. </p>

      </article>

        </div>

</section>


{% endblock content %}