{% extends 'base.html' %}
{% load static %}

{% block title %}
Идеальная квартира
{% endblock title %}
{% block content %}
     <!--   <section id="showcase-inner" class="py-5 text-white">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-12">
              <h1 class="display-4">Что нужно знать про нвостройки</h1>
              <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, pariatur!</p>
            </div>
          </div>
        </div>
      </section> -->


<section id="showcase-inner">
<div class="position-relative overflow-hidden p-3 p-md-2 m-md-4 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4">Как выбрать идеальную квартиру</h1>

  </div>
</section>

      <!-- Breadcrumb -->
      <section id="bc" class="mt-3">
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'index' %}">
                  <i class="fas fa-home"></i> Главная</a>
              </li>
              <li class="breadcrumb-item">
                <a href="#">
                  <i class="fas fa-home"></i> Квартиры</a>
              </li>
                <li class="breadcrumb-item active"> Новостройки </li>
            </ol>
          </nav>
        </div>
      </section>

  <section id="about" class="py-4">
        <div class="container">
          <div class="row">
            <div class="col">
              <h2>Социальная инфраструктура рядом с будущим домом</h2>
              <p class="lead">Снять квартиру в барнауле на длительный срок</p>
             <!-- <img src="{% static 'img/about.jpg' %}" alt=""> -->
              <p class="mt-4">Детские сады, школы, поликлиники в пешей доступности – особенно важный параметр для
                  родителей. Это и удобно, и безопасно, так как родителям и детям не придется тратить много времени на
                  дорогу. Хорошо, если рядом с ЖК находится несколько устраивающих образовательных учреждений — это
                  обеспечит возможность маневра.</p>
                <p class="mt-4">Критерии выбора обычно индивидуальны и зависят от возраста ребенка и предпочтительного
                    профиля обучения. Обратите внимание на репутацию: в ведущих школах, регулярно попадающих в рейтинги,
                    шанс, что ребенок раскроет свой потенциал и усвоит учебный материал, гораздо выше.</p>
                <p class="mt-4">Долгая и неудобная дорога в конце концов вынуждает многих ребят бросать занятия, особенно
                    если они учатся в старших классах. Напротив, расположенные рядом футбольное поле, бассейн или скалодром
                    создают условия для регулярной физической активности, помогают снять стресс или выплеснуть эмоции.</p>
            </div>
          </div>
        </div>
      </section>

  <section id="about" class="py-4">
        <div class="container">
          <div class="row">
            <div class="col">
              <h2>Количество комнат и площадь недвижимости</h2>
             <!-- <img src="{% static 'img/about.jpg' %}" alt=""> -->
              <p class="mt-4">Постулат «количество комнат должно быть равно количеству детей плюс еще одна для родителей»
                  работает редко. Во-первых, потому что люди обычно ограничены в бюджете и не могут себе позволить
                  многокомнатную квартиру. Во-вторых, для семьи с большим количеством детей логичнее разделение спален
                  на девчачьи и мальчишеские.</p>
                <p class="mt-4">Большой метраж жилья — тоже не показатель. Важнее смотреть на соотношение общей и жилой
                    площади. Коридоров должно быть как можно меньше, особенно узких и длинных, которые пронизывают
                    квартиру от входа до дальней спальни. Даже если планировка предусматривает возможность установки на
                    нежилой площади шкафа-купе — не стоит считать это преимуществом.</p>
                              <p class="mt-4"></p>
            </div>
          </div>
        </div>
      </section>



<div class="container">
    <div class="row justify-content-between">
    <div class="col bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Выбор этажа</h2>
        <p class="lead">Для семей с маленькими детьми оптимальным решением будет второй-третий этаж. Согласитесь,
            поднимать детскую коляску или велосипед на высокий этаж довольно трудно. А лифты, как показывает практика,
            могут сломаться даже в новых домах.</p>
      </div>
    </div>
    <div class="col-md-5 offset bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Отзывы жильцов</h2>
        <p class="lead">При выборе апартаментов или квартиры в конкретной районе рекомендуется ознакомиться с реальными
            отзывами жильцов. Так, можно оценить все плюсы и минусы недвижимости и узнать о существующих проблемах.</p>
      </div>
    </div>
  </div>
</div>

  <section id="about" class="py-4">
        <div class="container">
          <div class="row">
            <div class="col">
              <h2>Новостройка или вторичное жилье</h2>
             <!-- <img src="{% static 'img/about.jpg' %}" alt=""> -->
              <p class="mt-4">Каждый из этих вариантов имеет свои преимущества и недостатки. Например, в квартиру,
                  приобретенную на вторичном рынке, можно сразу же заселиться. В ситуации с новостройкой, не введенной
                  в эксплуатацию, придется дожидаться достройки дома и его сдачи. В жилье на первичном рынке в большинстве
                  случаев отсутствует отделка, поэтому придется самостоятельно делать ремонт. Помимо этого семья с детьми
                  будет вынуждена терпеть шум и мусор ремонтных работ соседей.</p>
            </div>
          </div>
        </div>
      </section>

  <section id="about" class="py-4">
        <div class="container">
          <div class="row">
            <div class="col">
              <h2>Безопасность на территории</h2>
             <!-- <img src="{% static 'img/about.jpg' %}" alt=""> -->
              <p class="mt-4">Пространство, в котором безопасно жить, — всегда результат комплекса мер.
                  Современный стандарт — дворы, свободные от машин. Система контроля доступа в ЖК должна ограничивать
                  появление во дворах посторонних, а повсеместное видеонаблюдение — отслеживать и предотвращать инциденты.</p>
              <p class="mt-4">На детских площадках для минимизации травм должно быть безопасное мягкое покрытие, а в
                  качестве основного материала для оборудования должно использоваться дерево.</p>
            </div>
          </div>
        </div>
      </section>

  <section id="about" class="py-4">
        <div class="container">
          <div class="row">
            <div class="col">
              <h2>Подводя итог</h2>
             <!-- <img src="{% static 'img/about.jpg' %}" alt=""> -->
              <p class="mt-4">Стоит сказать, что не каждая квартира вам сразу подойдет. При выборе жилья необходимо
                  учитывать все факторы, начиная от площади жилья и заканчивая наличием в непосредственной близости
                  игровых площадок и детских садов. Только оценив все важные критерии, можно подобрать действительно
                  комфортабельную квартиру, в которой будет всегда безопасно и уютно.</p>
            </div>
          </div>
        </div>
      </section>




{% endblock content %}