{% extends 'base.html' %}
{% load static %}

{% block title %}
Новостройки
{% endblock title %}
{% block content %}
<!--   <section id="showcase-inner" class="py-5 text-white">
   <div class="container">
     <div class="row text-center">
       <div class="col-md-12">
         <h1 class="display-4">Что нужно знать про нвостройки</h1>
         <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, pariatur!</p>
       </div>
     </div>
   </div>
 </section> -->


<section id="showcase-inner">
    <div class="position-relative overflow-hidden p-3 p-md-2 m-md-4 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4">Что нужно знать про нвостройки</h1>
            <p class="lead">Как снять квартиру правильно</p>
            <div class="product-device shadow-sm d-none d-md-block"></div>
            <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}">
                        <i class="fas fa-home"></i> Главная</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">
                        <i class="fas fa-home"></i> Квартиры</a>
                </li>
                <li class="breadcrumb-item active"> Новостройки</li>
            </ol>
        </nav>
    </div>
</section>

<section id="about" class="py-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Как проверить квартиру в новостройке</h2>
                <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, pariatur!</p>
                <!-- <img src="{% static 'img/about.jpg' %}" alt=""> -->
                <p class="mt-4">Перед тем как снять квартиру в нвоостройке, мы предлагаем вам прочитать несколько
                    пунктов,
                    чтобы заселение в квариру стало для вас приятным событием.
                    Мы начнем с проверки возраста компании и ее портфеля объектов. Застройщик, который меньше года
                    находит на рынке обычно не внушает доверия.
                    Однако, стоит смотреть не только на возраст компании, но и на список сданных объектов, а также
                    отзывы от собственников квартир. На сайте компании можно узнать о том, как давно она на рынке,
                    сколько домов построила, запросить адрес нового дома. Изучите весь материл по-максимуму, не
                    ограничиваясь парой страниц.
                    Если на сайте застройщика опубликована проектная декларация, внимательно прочитайте ее. Именно в
                    проектной декларации обычно указано, на основании чего получен участок под застройку, есть ли
                    разрешение на строительство и другие немаловажные факты.
                </p>
                <p class="mt-4"></p>
                <p class="mt-4">
                </p>
            </div>
        </div>
    </div>
</section>


<section id="about">

    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-5 bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                <div class="my-3 py-3">
                    <h2 class="display-5"> Право собственности</h2>
                    <p class="lead">Чтобы исключить мошенничество, попросите показать выписку из ЕГРН или свидетельство
                        о госрегистрации права собственности на квартиру.

                        Обратите внимание, сколько всего собственников: если их несколько, то договор аренды либо
                        подписывают все,
                        либо кто-то один, но с доверенностью от остальных. Еще бывает, что квартиру купили в браке, но
                        оформили на
                        одного из супругов и брачного договора нет. В таком случае для сдачи ее в аренду нужно согласие
                        второго супруга.

                        Если опасаетесь, что вам показали поддельные документы, закажите выписку из ЕГРН
                        самостоятельно.</p>
                </div>


            </div>
            <div class="col offset me-md-3 pt-3text-center overflow-hidden">
                <div class="col d-none d-lg-block">

                    <img class="card-img-center" src="{% static 'img/paper.jpg' %}" alt="">

                </div>

            </div>
        </div>
    </div>

    <div class="container p-5">
        <div class="row">
            <div class="col">
                <h2>Квитанции об оплате коммунальных услуг</h2>
                <p class="mt-4"> Обраьтите внимание на квитанции об оплате коммунальных услуг
                    В квитанциях посмотрите информацию о задолженности за предыдущие месяцы. Если она есть, то требуйте
                    погасить долг.
                    В какой-то момент либо собственник захочет приписать эту сумму вам, либо, если речь идет о крупной
                    задолженности, коммунальные службы начнут угрожать отключить вам предоставляемые услуги.
                </p>
                <p class="mt-4"></p>
                <p class="mt-4">
                </p>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-5 bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 py-3">
                    <h2 class="display-5">Что делать, если сдается ипотечная квартира</h2>
                    <p class="lead">По оценкам экспертов, самым распространенным случаем сдачи ипотечной квартиры
                        является ситуация когда владелец хочет компенсировать часть ежемесячных платежей по кредиту за
                        счет платы от арендаторов. Такой вариант подходит людям, которым есть где жить на время сдачи
                        купленной недвижимости.</p>
                </div>

            </div>
            <div class="col offset bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                <div class="my-3 p-3">
                    <h2 class="display-5">Что делать арендаторам</h2>
                    <p class="lead">Каких либо особенных рисков съем ипотечной квартиры для арендатора не несет.

                        Один фактор – если собственник не сможет обслуживать долг по ипотеке, то придется искать новый
                        вариант, так как банк заберет жилье себе на баланс. Обычно срок, предоставляемый на переезд в
                        случае банковского взыскания, составляет 30 дней.

                        Все отношения между арендодателем и квартиросъемщиком регулируются положениями договора в рамках
                        текущего законодательства.</p>
                </div>

            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col p-md-2 m-md-4">

                <p class="mt-4">Адрес квартиры, стоимость аренды, дату внесения денег, права и обязанности сторон
                    прописывают в договоре найма.

                    К нему обязательно нужен передаточный акт, в котором зафиксировано состояние квартиры, — без него
                    договор не исполняется.

                    Чтобы составить договор, необязательно обращаться к юристу — это можно сделать самостоятельно по
                    инструкции.</p>
                <li class=" mt-4">Оцените подъезд. Его состояние может многое сказать о жильцах дома — ваших потенциальных соседях.</li>
<li class=" mt-4">Попробуйте заглянуть к соседям и поинтересоваться, кто до вас проживал в квартире. Желательно сделать это вместе с владельцем: если жильцы соседних квартир не новосёлы, то они узнают вашего арендодателя, а вы лишний раз убедитесь в том, что он собственник.
<li class=" mt-4">Проверьте состояние мебели и оцените её износ.
<li class=" mt-4">Если у вас аллергия на животных, уточните, не было ли у предыдущих жильцов кошки или собаки.
<li class=" mt-4">Удостоверьтесь в целостности пломб на счётчиках.
                <li class=" mt-4">Оцените шумоизоляцию во всей квартире.</li>
<p class="lead mt-4">Если ничто из вышеперечисленного в квартире вас не смутило, можно переходить к составлению договора. Все полезные ссылки для проверки арендодателей вы сможете найти у нас на сайте.</p>


            </div>
        </div>
    </div>


    {% endblock content %}