{% extends 'base.html' %}
{% load static %}

{% block title %}
Полезные ссылки
{% endblock title %}
{% block content %}

  <section id="showcase-inner" class="py-5 text-white">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-12">
              <h1 class="display-4">Как проверить недвижимость</h1>
              <p class="lead">Топ интернет-сайтов, которые стоит посетить перед покупкой недвижимости</p>
            </div>
          </div>
        </div>
      </section>

      <!-- Breadcrumb -->
      <section id="bc" class="mt-3">
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'index' %}">
                  <i class="fas fa-home"></i> Главная</a>
              </li>
              <li class="breadcrumb-item">
                <a href="#">
                  <i class="fas fa-home"></i> Полезные ссылки</a>
              </li>
                <li class="breadcrumb-item active"> Как проверить недвижимость</li>
            </ol>
          </nav>
        </div>
      </section>

<section id="about" class="py-4">
        <div class="container">

<div class="col-md-10">

      <article class="blog-post">
        <h2 class="blog-post-title">Онлайн-проверка жилья в новостройке</h2>
        <p class="blog-post-meta">1 Января 2021 года</a></p>

        <p>Любая операция с недвижимостью, как известно, всегда несет под собой определенный риск. Даже если вы не
          встретитесь с откровенными мошенниками, остается опасность приобрести жилье с какими-либо юридическими или
          физическими изъянами, которые обнаружатся уже после совершения сделки и предъявить продавцу будет уже нечего.
          Самый верный способ избежать таких неприятностей − обратиться к профессиональному риэлтору из агентства с
          именем и репутацией, однако прогресс не стоит на месте, и не так давно на просторах сети есть сервисы, которые
          помогут вам самостоятельно собрать некоторые сведения о жилье </p>
        <hr>
        <h3>Портал Росреестра</h3>
        <p>Первый и главный интернет-ресурс для проверок недвижимости</p>
        <blockquote class="blockquote">
          <p><a href="https://rosreestr.gov.ru/" target="_blank">Сайт Росреестра</a></p>
        </blockquote>
        <p>Росреестр запустил на своем сайте сервис, который позволит гражданам получать информацию о недвижимости
                 в реальном времени. Узнать можно, например, о назначении объекта недвижимости (жилой/нежилой), кто
                 обладает правами на данную недвижимость, а также посмотреть графическое расположение комнат и наличие
                 кадастрового паспорта (он является гарантией того, что объект завершен и не является недостроенным). </p>
        <p>Сервис поможет покупателям точно узнать некоторые характеристики приобретаемого жилья и сравнить их с теми,
          что указаны в объявлении или названы продавцом. Например, карты квартир покажут точный метраж и позволят
          выявить несогласованные перепланировки. Так, в квартире могут быть снесены несущие стены, объединены балкон с
          комнатой, установлена сантехника над жилыми площадями и т.д. Любое такое видоизменение может доставить
          множество проблем в будущем, поэтому выявлять их лучше до покупки.</p>
        <p>Но, наверное, самой полезной на сайте является графа о зарегистрированных правах на конкретную недвижимость.
          То есть, владеет ли ей или может ли претендовать на владение кто-либо кроме непосредственно продавца. Очень
          часто после завершения сделки «всплывает» очередной родственник, который предъявляет свои права на долю в
          квартире. В этом случае ситуация решается через суд, и сделка признается недействительной. Проблема в том,
          что получить деньги обратно от продавца может быть не так просто (если вообще возможно). Именно поэтому данная
          информация крайне важна. К тому же на сайте можно получить информацию не только о собственниках, но и о дате
          и номере их госрегистрации.</p>

       <hr>

      <article class="blog-post">
        <h3 class="blog-post-title">Проверка разрешения на строительство</h3>
        <p class="blog-post-meta">11 Ноября 2020 года</p>

        <p>	Реестр выданных разрешений на строительство находится по адресу
          <a href="http://www.minstroyrf.ru/opendata/7707780887-reestrstroit/" target="_blank">minstroyrf.ru</a>.
          Там вы сможете узнать, выдано ли официальное разрешение на строительство рассматриваемого вами объекта. Если
          выбор падает на недвижимость в Санкт-Петербурге, то удобнее использовать сайт
          <a href="http://www.expertiza.spb.ru/?show=resolutionproject" target="_blank">expertiza.spb.ru</a>, а для Москвы и области – <a href="https://stroi.mos.ru/structure/stroinadzor/gosuslugi-stroinadzor/razrieshieniie-na-stroitielstvo" target="_blank">stroi.mos.ru</a>.</p>
       </article>

               <hr>

      <article class="blog-post">
        <h3 class="blog-post-title">Проверка на банкротство</h3>
        <p class="blog-post-meta">23 Декабря 2020 года</p>
                <blockquote class="blockquote">
          <p><a href="http://bankrot.fedresurs.ru/" target="_blank">Сайт проверки на банкротство</a></p>
        </blockquote>
       <p>	Удостовериться в том, что компания не банкрот, тоже очень важно: если в списке базы
         <a href="http://bankrot.fedresurs.ru/" target="_blank">bankrot.fedresurs.ru</a> есть искомое название, то
         ни о какой будущей квартире речи быть не может.</p>
       </article>
               <hr>

      <article class="blog-post">
        <h3 class="blog-post-title">Проверка контрагента по всем базам</h3>
        <p class="blog-post-meta">23 Декабря 2020 года</p>
<blockquote class="blockquote">
          <p><a href="https://fek.ru" target="_blank">Сайт проверки контрагента по ИНН</a></p>
        </blockquote>
<p>	На сайте <a href="https://fek.ru" target="_blank">fek.ru</a> можно быстро осуществить проверку любого контрагента
  по налоговой базе ФНС, ЕГРЮЛ, базам Росстата, ФССП, Роскомнадзора, ТПП, судебных дел. Для осуществления проверки
  необходимо знать ИНН, ОГРН, название или адрес организации.</p>
       </article>
        </article>
</div>
        </div>
</section>

<section id="about" class="py-4">
        <div class="container">
<div class="col-md-10">

      <article class="blog-post">
        <h2 class="blog-post-title">Проверка вторичного жилья и собственника</h2>
        <hr>
        <h3>Выписка из ЕГРН</h3>
        <p>11 Ноября 2020 года</p>
        <blockquote class="blockquote">
          <p><a href="https://rosreestr.gov.ru/" target="_blank">Сайт Росреестра</a></p>
        </blockquote>
        <p>	Первым делом стоит получить полную выписку ЕГРН по адресу будущей квартиры, в которой будет прописано
          абсолютно всё о недвижимом объекте, в том числе и его собственники. Проще всего сделать это на сайте
          <a href="https://rosreestr.net" target="_blank">rosreestr.net</a>. Там есть полный комплекс услуг по выпискам
          и справкам, которые могут потребоваться при покупке жилья и не только.</p>

       <hr>

      <article class="blog-post">
        <h3 class="blog-post-title">Проверка собственника</h3>
        <p class="blog-post-meta">23 Декабря 2020 года</p>
                <blockquote class="blockquote">
          <p><a href="http://services.fms.gov.ru/" target="_blank">Сайт ФМС</a></p>
        </blockquote>
<p>	Сегодня можно с легкостью проверить действительность паспорта. На сайте
  <a href="http://services.fms.gov.ru/" target="_blank">services.fms.gov.ru</a> находится база недействительных паспортов РФ.</p>
       </article>


               <hr>

      <article class="blog-post">
        <h3 class="blog-post-title">Проверка задолжностей</h3>
        <p class="blog-post-meta">11 Ноября 2020 года</p>
                        <blockquote class="blockquote">
          <p><a href="https://rosdolgi.ru" target="_blank">Сайт ФССП</a></p>
        </blockquote>
        <p>	Продавца можно проверить на отсутствие задолженностей по кредиту, ипотеке, налогам и на выполнение других
          обязательств. Удобнее всего это сделать на сайте судебных приставов
          <a href="https://rosdolgi.ru" target="_blank">rosdolgi.ru</a>.</p>

        </article>


               <hr>

      <article class="blog-post">
        <h3 class="blog-post-title">Проверка на банкротство</h3>
        <p class="blog-post-meta">23 Декабря 2020 года</p>
                        <blockquote class="blockquote">
          <p><a href="http://bankrot.fedresurs.ru/" target="_blank">Сайт Федресурс</a></p>
        </blockquote>
       <p>	Удостовериться в том, что компания не банкрот, тоже очень важно: если в списке базы
         <a href="http://bankrot.fedresurs.ru/" target="_blank">bankrot.fedresurs.ru</a> есть искомое название, то
         ни о какой будущей квартире речи быть не может.</p>
       </article>
               <hr>

      <article class="blog-post">
        <h3 class="blog-post-title">Проверка собственника по всем базам</h3>
        <p class="blog-post-meta">23 Декабря 2020 года</p>
        <p>	В завершение хотелось бы добавить еще три полезных сайта, которые пригодятся в данной процедуре.</p>

<ul>	<li>		<a href="https://kad.arbitr.ru/" target="_blank">kad.arbitr.ru</a> – здесь можно проверить наличие
  судебных дел у физического или юридического лица. Покупать недвижимость у него при положительном результате не стоит,
  так как последствия могут самыми непредсказуемыми.</li>	<li>		<a href="http://www.fedsfm.ru/documents/terr-list" target="_blank">fedsfm.ru</a> – тут находится база организаций и физических лиц, в отношении которых имеются сведения об их причастности к экстремистской деятельности или терроризму.</li>	<li>		<a href="http://ras.arbitr.ru" target="_blank">ras.arbitr.ru</a> – банк решений арбитражных судов. Здесь можно найти информацию о том, было ли предъявлено какой-либо компании исковое заявление, которое связано с нарушением выполнения обязательств (в том числе и иски от налоговых органов).</li></ul>
       </article>
        </article>
</div>
        </div>
</section>



{% endblock content %}